[[# Entry template.

The generated entry should be a piece of HTML, not a full document.

Parameters:
- title: string, title of the entry
- text: string, The main text as HTML
- image: string, An optional image (a full <img/> tag)
]]
<div class="entry">

<div class="title">[[html title]]</div>

<div class="content intro">
[[html date]]
[[if "author" in tags]]by [[html tags["author"] ]][[end]]
[[if categories]]in [[html ", ".join([c.capitalize() for c in categories])]][[end]]
</div>

[[if "html" in sections]][[raw sections["html"] ]][[end]]

[[if "en" in sections]]
<div class="content en">
<img src="http://www.samchris.com/images/flag_usa.gif" />
[[raw sections["en"] ]]
</div>
[[end]]

[[if "fr" in sections]]
<div class="content fr">
<img src="http://www.samchris.com/images/flag_fr.gif" />
[[raw sections["fr"] ]]
</div>
[[end]]

[[if "images" in sections]]
<div class="content images">
[[raw sections["images"] ]]
</div>
[[end]]

</div>
