[[# Entry template.

The generated entry should be a piece of HTML, not a full document.

Parameters:
- title: string, title of the entry
- text: string, The main text as HTML
- image: string, An optional image (a full <img/> tag)
]]
<div class="entry">
<div class="title">[[html title]]</div>
[[html date]]
[[if "author" in tags]]by [[html tags["author"] ]][[end]]
[[if categories]]in [[html ", ".join([c.capitalize() for c in categories])]][[end]]
<br/> 
[[raw text]]
[[if image]]
<br/>
[[raw image]]
[[end]]
</div>
