[[# Entry template.

The generated entry should be a piece of HTML, not a full document.

Parameters:
- base_url: The generated site's base URL. May be empty.
- title: string, title of the entry.
- tags: dict{string tag: string value}, the parsed Izu tags.
- sections: dict{string name: string content}, the HTML for the various sections.
	- Expected sections names: html (old html), en, fr and images.
]]
<div class="entry">

<div class="title">[[html title]]</div>

<div class="content intro">
[[html date]]
[[if "author" in tags]]by [[html tags["author"] ]][[end]]
[[if categories]]in [[html ", ".join([c.capitalize() for c in categories])]][[end]]
</div>

[[if "html" in sections]][[raw sections["html"] ]][[end]]

[[if "en" in sections]]
<div class="content en">
<img src="[[url base_url]]media/flag_usa.gif" />
[[raw sections["en"] ]]
</div>
[[end]]

[[if "fr" in sections]]
<div class="content fr">
<img src="[[url base_url]]media/flag_fr.gif" />
[[raw sections["fr"] ]]
</div>
[[end]]

[[if "images" in sections]]
<div class="content images">
[[raw sections["images"] ]]
</div>
[[end]]

</div>
