[[# A standalone page that wraps a single post/entry.
Expected parameters:
- title: string, Web page title
- entry: object(content: string, title: string, date: datetime, permalink: string), generated HTML for the entry.
- rel_base_url: string, Relative url to base of site. May be empty or like ../../
- last_gen_ts: the DateTime of when this page was generated
- last_content_ts: the DateTime of the most recent post (based on the post's date, not the filesystem)
- rig3_version: string, a version number or SVN info for this rig3 build
- all_categories: list(string), all categories names.
- tracking_code: Raw HTML for stats tracking (e.g. Google Analytics' tracking code) as defined per site-prefs.
- month_pages: list((string,date)), URLs+date to the month pages in decreasing order.
- alt_header: path to alternate HTML header (receives the same parameters)
- all_categories: list of all categories
- curr_category: name of current category (part of the categories list or empty for "all")
- toc_categories: list of all categories that require a toc display

No assumption is done on the actual data for an entry. It could be the entry
itself, some SHTML entity or just about any textual thing.

TODO:
- layout: header, footer, associated links

]]
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>[[html public_name]] - [[html title]] - [[html entry.title]]</title>
  <link rel="stylesheet" type="text/css" href="[[url rel_base_url + "media/style.css"]]" />
  <link rel="alternate" type="application/atom+xml" title="[[url title]] - Atom" href="atom.xml" />
</head>
<body>

[[insert html_header]]

[[raw entry.content]]

<hr width="80%"/>
[[if month_pages]]
More pages: [[for m in month_pages]] <a href="[[url m.url ]]">[[html m.date.strftime("%B %Y")]]</a> [[end]]
<br/>[[end]]
<p/>
[[raw tracking_code]]
</body>
</html>
