[[# HTML template for TOC

The generated entry should be a piece of HTML, not a full document.

Expected parameters:
- title: string, Web page title
- entries: object(content: string, title: string, date: datetime, permalink: string), generated HTML for each entry.
- rel_base_url: string, Relative url to base of site. May be empty or like ../../
- last_gen_ts: the DateTime of when this page was generated
- last_content_ts: the DateTime of the most recent post (based on the post's date, not the filesystem)
- rig3_version: string, a version number or SVN info for this rig3 build
- all_categories: list(string), all categories names.
- tracking_code: Raw HTML for stats tracking (e.g. Google Analytics' tracking code) as defined per site-prefs.
- month_pages: list((string,date)), URLs+date to the month pages in decreasing order.
- alt_header: path to alternate HTML header (receives the same parameters)
- categories: list of all categories
- curr_category: name of current category (part of the categories list)
- toc_categories: list of all categories that require a toc display

No assumption is done on the actual data for an entry. It could be the entry
itself, some SHTML entity or just about any textual thing.

TODO:
- layout: header, footer, associated links

]]

<div class="toc">
<div class="toc title">Table of Content for [[html curr_category]]:</div>
<ul>
[[for html_entry in entries]]
  <li> <a href="[[html html_entry.permalink]]">[[html html_entry.date.strftime("%Y/%m/%d")]]: [[html html_entry.title]]</a></li>
[[end]]
</ul>
</div>
