[[# Entry template.

The generated entry should be a piece of HTML, not a full document.

Parameters:
- base_url: The generated site's base URL. May be empty.
- title: string, title of the entry.
- tags: dict{string tag: string value}, the parsed Izu tags.
- categories: list[string cat], the tags for this entry. Can be empty.
- sections: dict{string name: string content}, the HTML for the various sections.
	- Expected sections names: html (old html), en, fr and images.
- rel_base_url: string, Relative url to base of site. May be empty or like ../../
- anchorlink_name: string, the anchor simplified name
- anchorlink_url: string, the anchor simplified URL
- permalink_url: string, the last segment of the permalink
- rel_permalink_url: string, the permalink relative to the current file (index or category or single post)
- abs_permalink_url: string, the absolute URL of the permalink
]]
<div class="entry">

<div class="deco before-content title">
<a name="[[url anchorlink_name]]" title="Permalink to '[[html title]]'"><a
        href="[[html rel_permalink_url]]"
        title="Permalink to '[[html title]]'"
    ><span class="date">[[html date.strftime("%Y/%m/%d")]]</span>
    [[html title]]
</a>
</div> [[# end div title ]]

<div class="content intro">
<a href="[[raw anchorlink_url]]" title="#">&pi;</a>
[[html date.strftime("%Y-%m-%d %H:%M")]]
[[if "author" in tags]]by [[html tags["author"].capitalize() ]][[end]]
[[if categories]]in [[html ", ".join([c.capitalize() for c in categories])]][[end]]

[[if enable_sharing]]
<span style="float:right">
<!-- +1 -->
<g:plusone size="small" href="[[html abs_permalink_url]]"></g:plusone>
<!-- Reader & Buzz -->
<a href="http://www.google.com/reader/link?title=[[url title]]&url=[[url abs_permalink_url]]"
   onclick="window.open('http://www.google.com/reader/link?title=[[url title]]&url=[[url abs_permalink_url]]', 'GoogleReader','toolbar=no,width=650,height=550'); return false;"
   title="Share on Google Reader &amp; Buzz: [[html title]]"
   target="_blank" rel="nofollow external"
   ><img src="[[url rel_base_url]]media/fav_google.gif" title="Share on Google Reader &amp; Buzz: [[html title]]" border="0" /></a>

<!-- Facebook -->
<a name="fb_share" type="button" share_url="[[html abs_permalink_url]]"
   title="Share on Facebook: [[html title]]"
   target="_blank" rel="nofollow external"
   href="http://www.facebook.com/sharer.php?u=[[url abs_permalink_url]]&t=[[url title]]"
   ><img src="[[url rel_base_url]]media/fav_facebook.gif" title="Share on Facebook: [[html title]]" border="0" /></a>

<!-- Twitter -->
<a href="http://twitter.com/home?status=Currently%20reading%20[[url abs_permalink_url]]"
   title="Share on Twitter: [[html title]]"
   target="_blank" rel="nofollow external"
   ><img src="[[url rel_base_url]]media/fav_twitter.gif" title="Share on Twitter: [[html title]]" border="0" /></a>
</span>
[[end]]
</div>  [[# end div content.intro ]]

[[if "en" in sections]]
<div class="content en">
[[if "fr" in sections]]<div class="flag"><img src="[[url rel_base_url + "media/flag_usa.gif"]]" /></div>[[end]]
<div>[[raw sections["en"] ]]</div>
</div>
[[end]]

[[if "fr" in sections]]
<div class="content fr">
<div class="flag"><img src="[[url rel_base_url + "media/flag_fr.gif"]]" /></div>
<div>[[raw sections["fr"] ]]</div>
</div>
[[end]]

[[if "html" in sections]]
<div class="content html">
[[raw sections["html"] ]]
</div>
[[end]]

[[if "images" in sections]]
<div class="content images">
[[raw sections["images"] ]]
</div>
[[end]]

<div class="deco after-content"></div>

</div>  [[# end div entry ]]

