[[# Main index template.
Expected parameters:
- title: string, Web page title
- entries: list(string), generated HTML for each entry.
- prev_url: None or string url
- next_url: None or string url
- curr_page: int, Current page number
- max_page: int, Max page number

No assumption is done on the actual data for an entry. It could be the entry
itself, some SHTML entity or just about any textual thing.

TODO:
- layout: header, footer, associated links

Relevant links:
- shtml: http://httpd.apache.org/docs/1.3/howto/ssi.html
]]
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>[[html title]]</title>
  <style text="media/style.css"></style>
</head>
<body>
[[for entry in entries]]
  [[raw entry]]
  <hr width="80%"/>
[[end]]
<hr width="80%"/>
[[if prev_url]]<a href="[[url prev_url]]">Prev</a>[[end]]
&nbsp;||&nbsp;
[[if next_url]]<a href="[[url next_url]]">Next</a>[[end]]
<br/>
Page [[html curr_page]] / [[html max_page]]
</body>
</html>
