[[# Default style for default template */

--- base style extracted from my own wordpress theme
Receives the following template variables:
- base_url: empty string or url of blog
- public_name: the blog's name
]]

body {
	color: #29303B;
	background: #F3F6ED url([[raw base_url]]media/content_bg.gif) repeat;
}

.header {
	text-align: center;
	width: 100%;
}

.header img {
	background:#fff;
	margin: 0 auto;
	padding: 0;
	border: #fc9 1px solid;
}

/* --- custom local style */

.entry {
	padding-bottom: 1em; 
  /* margin-left: 1em; --TEST removed */
}

.izu {
  display: inline;
}

.entry .title {
  background-color: green;
  color: yellow; 
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
  margin-left: 0em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  border-top:    2px solid #ACA;
  border-left:   2px solid #8C8;
  border-bottom: 2px solid #050;
  border-right:  2px solid #050;
}

.entry .title {
  -moz-border-radius: 10px;
}

.entry .title {
  border-radius: 10px;
}

.entry .title .date {
	font-size: 1em;
	font-weight: normal;
}

.content {
	padding-bottom: 1em;
}

.content.image {
	text-align: center;
	width: 100%;
}

.content.intro {
	font-size: smaller;
	padding-left: 1em;
	padding-bottom: 0.5em;
}

.image-table {
	text-align: center;
	width: 100%;
}

table.content td.flag {
	vertical-align: top;
}
